{% extends "_layout.html" %}
{% set metatitle = "Blog" %}
{% set metadescription = "Posts by Emir Baycan" %}
{% set canonicalUrl = "/blog" %}

{% block content %}
    <header>
        <h1>Blog</h1>
    </header>
    <ul class="entry-list">
        {% for entry in get_entries(namespaces='blog', filter_by=is_golden, sort_by='date_created', reverse=True) %}
            {% set file_name = entry.url.split('/')[-1] + '.html' %}
            <li>
                <time datetime="{{ entry.date_created.strftime('%F') }}">{{ entry.date_created.strftime('%Y') }}</time>
                <h3><a rel="bookmark" href="{{ file_name }}">{{ entry.title }}</a></h3>
                <p>{{ entry.description }}</p>
            </li>
        {% endfor %}
    </ul> 
    <ul class="entry-list">
        {% for entry in get_entries(namespaces='blog', filter_by=is_not_golden, sort_by='date_created', reverse=True) %}
            {% set file_name = entry.url.split('/')[-1] + '.html' %}
            <li>
                <time datetime="{{ entry.date_created.strftime('%F') }}">
                    {{ entry.date_created.strftime('%b') }} {{ entry.date_created.strftime('%Y') }}
                </time>
                <h3><a rel="bookmark" href="{{ file_name }}">{{ entry.title }}</a></h3>
                <p>{{ entry.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
