{% extends "_layout.html" %}
{% set metadescription = "I'm a software engineer" %}

{% block content %}
    <header>
        <h1>Emir Baycan</h1>
        <small>[e · mir &ndash; bay · can]</small>
    </header>
    {{ entry.body }}
{% endblock %}
